.login-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tittle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 50px;
}

.text {
    font-size: 10px;
    font-weight: 600;
    padding-bottom: 3px;
}

.username-input,
.password-input  {
    padding: 8px 5px;
    outline: none;
    margin-bottom: 7px;
    background: #1618230f;
    border: #1618230f;
    border-radius: 3px;
}

input.text.username-input {
    width: auto;
}

.password-input {
    padding-left: 15px;
    height: 20px;
    padding: 10px;
}

.username-input:hover,
.password-input:hover {
    background-color: #dedede;
    border: 1px solid #dedede;
}

.login-button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.login-button:hover {
    background-color: #fe2c55;
    color: white;
}

.signup-link {
    font-size: 10px;
    font-weight: 600;
    color: rgb(223, 91, 91);
    padding-bottom: 3px;
}

.signup-link:hover {
    color: green;
}