.profile_top {
    margin-bottom: 20px;
}

.profile_body_info {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    table {
        margin: 0 auto;
    }
    label {
        display: block;
    }
    margin-bottom: 20px;
}

.input[type="text"], select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sub-btn {
    background-color: #1db79d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
  
.sub-btn:hover {
    background-color: #4affb7;
}
  
.profile_body_img {
    text-align: center;
}

.profile_body_img img {
    display: none;
}
.profile_body_info .dob_day,
.profile_body_info .dob_month,
.profile_body_info .dob_year {
  display: inline-block; 
}

.form_info {
    padding-right: 20px;
}
.change-password-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1cc9af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0c6750;
}