.header_top {
    background: rgb(187, 249, 228);
    height: 100px;
}

.header_top_right {
    display: flex;
    justify-content: end;
    align-items: center;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;
        text-decoration: none;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.header_logo {
    img {
        width: 100px;
        top:-10px
    }
}

.header_menu {
    padding: 15px 0 0;
    text-align: center;

    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 20px;

        li {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 14px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0  ;
                display: block;
            }
            a:hover {
                color:rgb(157, 239, 209);
            }
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 135px;
    padding: 0px 8px;
    margin: 0 auto;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    width: 549px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: #d9d9d9;
    padding: 8px 20px;
    border-radius: 30px;
}

.search-input input::placeholder {
    color: rgba(0, 0, 0, 0.36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.77px;

}

.search-input input {
    width: 100%;
    background: transparent;
    border: none;
}

.search-input input:focus {
    outline: none;
}

.btn-search {
    background-color: rgb(187, 249, 228);
    border: none;
    border-radius: 20px;
    padding: 11px 12px;
    color: #262626;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
    letter-spacing: 0.88px;
    text-align: center;
    cursor: pointer;
}
.btn-search:hover {
    background-color: rgb(157, 239, 209);
}