.header_top {
    background: rgb(241, 235, 235);
}

.header_top_right {
    display: flex;
    justify-content: end;
    align-items: center;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;
        text-decoration: none;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.header_logo {
    padding: 15px 0 0;
}

.header_menu {
    padding: 15px 0 0;

    ul {
        display: flex;
        justify-content: space-between;

        .active a {
            color: aqua;
        }

        li {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 14px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0  ;
                display: block;
            }
        }
    }
}

.header_cart {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        margin-right: 25px;

        li {
            list-style: none;
            position: relative;
        }

        svg {
            color: black;
            font-size: 25px;
        }

        a {
            text-decoration: none;
        }

        span {
            color: white;
            background-color: rgb(19, 177, 177);
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            font-size: 13px;
            font-weight: 500;
            left: 20px;
            top: -2px;
        }
    }
}

.header_search_container {
    padding-left: 15px;
    
    .header_search_form {
        form {
            display: inline-flex;
            align-items: center;
            input {
                border: none;
                height: 30px;
                font-size: 14px;
                color: #b2b2b2;
                padding-left: 20px;
                border: 1px solid #ebebeb;
                width: 100%;
                
                :focus {
                    outline: none;
                    border:none;
                }
            }
    
            
        
            button {
                font-size: 14px;
                color: #ffffff;
                font-weight: 800;
                text-transform: uppercase;            
                display: inline-block;
                padding: 16px 30px 17px;
                background-color: aquamarine;
                border: none;
                height: auto;
                font-family: Arial; 
                width: 300px;
            }
        }
        width: 610px;
        float: left;
    }

    
}
